body{
    height: 100%;
}
/* #region Card1- */
.container-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border: 5px solid black;
}

.card {
    position: relative;
    isolation: isolate;
    width: 425px;
    height: 225px;
    background-color: #000;
    border-radius: 8px;
}

.card_image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 20%;
    border-radius: inherit;
    transition: transform 250ms;
}

.card:hover .card_image {
    transform: translateY(-112px) scale(0.75);
}

.card_body {
    position: absolute;
    inset: 0;
    z-index: -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 24px;
    color: #f4c644;
}

.card_category {
    color: #fff;
}

.card_button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #f4c644;
    color: #000;
    transition: background-color 250ms;
}

.card_button:hover {
    background-color: #d9ad34;
}

/* #endregion card1 */

/* #region card2 */
.container{
    max-width: 96rem;
    margin-inline: auto;
    padding-inline: 1.6rem;
}
/* ======================== */
.cardDos {
	background-color: #fff;
    color: #333;
	box-shadow: 2px 0.8rem 1rem rgba(0, 0, 0, 0.025);
}
.card__publication {
	position: relative;
	height: 20rem;
	overflow: hidden;
}
.card__publication img {
	position: absolute;
	width: 100%;
	height: 50%;
	object-fit: cover;
	transition: transform 0.5s;
}
.card:hover .card__publication img {
	transform: scale(1.5);
}
.card__publication > div {
	background: linear-gradient(
		to right bottom,
		rgba(48, 110, 255, 0.8),
		rgba(204, 0, 255, 0.8)
	);
	font-size: 1.4rem;
	font-weight: bold;
	color: #fff;
	position: absolute;
	inset: 0;
	padding: 1rem;
}
.card__icon {
	margin-right: 1rem;
}
.card__publication span {
	display: block;
}
.card__author {
	margin-bottom: 0.5rem;
}
.card__info {
	position: relative;
	padding: 2rem 3rem;
}
.card__title {
	font-size: 3rem;
}
.card__subtitle {
	display: inline-block;
	font-size: 1.4rem;
	font-weight: 400;
	text-transform: uppercase;
	color: #a2a2a2;
	margin-bottom: 1rem;
}
.card__cta {
	position: relative;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: #2e6dff;
	margin-top: 2rem;
}
.card__cta span {
	display: inherit;
	transition: transform 0.5s;
}
.card__cta:hover span {
	transform: translateX(0.5rem);
}
@media screen and (min-width: 37.5em) {
	.card {
		display: grid;
		grid-auto-flow: column;
		max-width: 75rem;
	}
	.card__publication {
		width: 25rem;
		height: initial;
	}
}

/* endregion card2 */